
/api-server/.mtj.tmp/
/api-server/*.jar
/api-server/*.war
/api-server/*.ear
/api-server/hs_err_pid*
/api-server/.classpath
/api-server/.project
/api-server/.settings/
/api-server/.idea/
/api-server/*.iml
/api-server/*.iws
/api-server/.DS_Store
/api-server/log/
/api-server/target/
!/api-server/lib/**
/api-server/*.class
/api-server/bin/
/api-server/build/
/api-server//bin1/
/api-server/java/build/**